.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-35 {
	margin-top: 35px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-35 {
	margin-bottom: 35px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.section-header {
	padding-bottom: 9px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EEE;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-black {
    color: #FFF;
    background-color: black;
    border-color: black;
}

.sub-legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    text-align: right;
}

.iris-ol {
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.iris-ol li {
  margin-top: 5px;
  margin-bottom: 5px;
  counter-increment: step-counter;
}

.iris-ol li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #E53935;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}